<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href={{ url_for('static', filename= 'favicon.ico') }}>
    <link rel="stylesheet" href={{ url_for('static', filename= 'css/style.css') }}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="page-body">
      <div class="non-footer">
	<div class="header">
	  <br />
	  <h1>
	    <span class="circle invis"></span>
	    <span class="circle center"></span>
	    <span class="circle outer"></span>
	  </h1>
	  <h1>
	    <span class="circle outer"></span>
	    <span class="circle center"></span>
	    <i class="osp-title">The Open Source Platform</i>
	  </h1>
	</div>
	<br />
	An online platform for finding open source projects
	<hr class="header-bottom">
	<div>
	  <span class="page-links">
	    <a href= {{ url_for('index') }}>Home</a>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('projects') }}>Projects</a>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('organizations') }}>Organizations</a>
	    {% if not current_user.is_authenticated %}
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('auth.login') }}>Login</a>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('auth.signup') }}>Sign Up</a>
	    {% endif %}
	    {% if current_user.is_authenticated %}
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('main.profile') }}>Profile</a>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('auth.logout') }}>Log out</a>
	    {% endif %}
	  </span>
	</div>
	<div class="main-body">
	  {% block content %}{% endblock %} <br>
	</div>
	<div class="footer">
	  <span class="external-links">
	    <a href="https://github.com/SamuelHoward/open-source-platform">OSP on GitHub</a>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="https://www.linkedin.com/in/samuel-justin-howard/">Made by Samuel Howard</a>
	  </span>
	  <span class="page-links">
	    <a href= {{ url_for('index') }}>Home</a>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('projects') }}>Projects</a>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href= {{ url_for('organizations') }}>Organizations</a>
	  </span>
	</div>
      </div>
    </div>
  </body>
</html>
