{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<h2>An Easy Way to Find Open Source Software Projects</h2>

<div class="index-text">
  <p>
    The Open Source Platform allows developers to quickly find open source projects. As amazing as many open source projects are, they don't tend to prioritize marketing. This means developers can have a hard time finding these projects and thus will never contribute to them. Using The Open Source Platform, those projects are more easily visible and everyone wins!
  </p>
  
  <p>
    Currently, The Open Source Platform includes
    <a href={{ url_for('projects') }}>{{ numProjs }} projects</a>
    by
    <a href={{ url_for('organizations') }}>{{ numOrgs }} developers</a>
    from:
    <ul>
      <li><a href="https://github.com/">Github</a></li>
      <li><a href="https://about.gitlab.com/">GitLab</a></li>
      <li><a href="https://opensource.google/projects/list/cloud">Google Open Source</a></li>
      <li><a href="https://www.codetriage.com/">CodeTriage</a></li>
      <li><a href="https://up-for-grabs.net/#/">Up For Grabs</a></li>
      <li><a href={{ url_for('main.project_submit')}}>Our Project Submission page</a></li>
    </ul>
  </p>

  <p>
    The Open Source Platform is also open source itself! So <a href="https://github.com/SamuelHoward/open-source-platform">check it out on GitHub</a> and consider contributing!
  </p>
  
</div>

{% endblock %}
