{% extends "base.html" %}
{% block content %}

<div>
  <h3>Login</h3>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST">
      <div class="field">
	<div>
	  <input class="input search" type="email" name="email" placeholder="Your Email">
	</div>
      </div>

      <div class="field">
	<div>
	  <input class="input search" type="password" name="password" placeholder="Your Password">
	</div>
      </div>
      <button class="button is-block is-info is-large is-fullwidth">Login</button>
    </form>
  </div>
</div>

{% endblock %}
