{% extends "base.html" %}
{% block content %}

<h2>Manage your Profile Details</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<h3>Name: {{current_user.name}}</h3>

Change your Name:
<form method="POST">
  <input class="search" type="text" name="name_change" placeholder="New Name">
  <button type="submit" name="name_change" value="name_change">Submit</button>
</form>

<br>

<h3>Email: {{current_user.email}}</h3>
Email Confirmation Status:
{% if current_user.confirmed %}
<i class="fa fa-check"></i>
{% else %}
<i class="fa fa-times"></i>
{% endif %}
{% if current_user.confirmed and current_user.confirmed_on is not none %}
<br>
Email confirmed on {{ current_user.confirmed_on.strftime('%Y-%m-%d') }}
{% endif %}
<br>
Changing your email will require further confirmation.
<br>
Change your Email:
<form method="POST">
  <input class="search" type="email" name="email_change" placeholder="New Email">
  <button type="submit" name="email_change" value="email_change">Submit</button>
</form>

<br>

<h3>Change your Password</h3>

<form method="POST">
  <input class="search" type="text" name="password_old" placeholder="Old Password"> <br>
  <input class="search" type="text" name="password_change" placeholder="New Password">
  <button type="submit" name="password_change" value="password_change">Submit</button>
</form>

<br>

<h3>Delete your Account</h3>

If you would like to delete your account, including your profile information and favorites, click the button below and confirm you would like to delete your account.

<br>
<br>

<a href= {{ url_for('auth.delete') }}>Delete your account</a>

<br>

{% endblock %}
