{% extends "base.html" %}
{% block content %}

<div>
  <h3><a href={{ organization.url }}>{{ organization.name }}</a></h3>

  {% if current_user.is_authenticated %}
  <form method="POST">
    {% if (organization.name,) not in favorites %}
    <button type="submit" name="fav_name" value={{ organization.name }} class="fav">Favorite</button>
    {% else %}
    <button type="submit" name="unfav_name" value={{ organization.name }} class="unfav">Favorited</button>
    {% endif %}
  </form>
  &nbsp;
  {% endif %}
  
  {% if organization.avatar is not none %}
  {% if organization.owner_type == "User" %}
  <a href={{ url_for('organization', orgName=organization.name)}}><img src={{ organization.avatar }} width="80" class="user-pic"></a>
  {% else %}
  <a href={{ url_for('organization', orgName=organization.name)}}><img src={{ organization.avatar }} width="80" class="org-pic"></a>
  {% endif %}
  {% endif %}
  <ul>
    {% for project in projects %}
    <li><a href={{ project.url }}>{{ project.name }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
