{% extends "base.html" %}
{% block content %}

<span><a  href={{ project.url }}><h2>{{ project.name }}</h2></a></span>
{% if project.created_time is not none %}
<span> Created {{project.created_time[0:10]}} &nbsp;&nbsp;</span>
{% endif %}

<div class="forks_watchers">
  {% if project.forks is not none %}
  <a  href={{ project.url + "/network/members" }}>{{project.forks}} forks &nbsp;&nbsp;</a>
  {% endif %}
  {% if project.watchers is not none %}
  <a  href={{ project.url + "/watchers" }}>{{project.watchers}} watchers &nbsp;&nbsp;</a>
  {% endif %}
  {% if project.open_issues is not none %}
  <a  href={{ project.url + "/issues" }}>{{project.open_issues}} issues</a>
  {% endif %}
</div>
<div class="project_description">
<p> {{ project.description }}</p>
</div>

<b class="surce">{{ project.source }}</b>
{% if project.language is not none %}
<b class="surce">{{ project.language }}</b>
{% endif %}

<br />
<br />

{% if project.owner is not none %}
<b><a href={{"https://github.com/" + project.owner}}>{{ project.owner }}</a></b>
{% endif %}
{% if project.owner_avatar is not none %}
<a href={{ url_for('organization', orgName=project.owner)}}><img src={{ project.owner_avatar }} width="30" class="proj-org-pic"></a>
{% endif %}

<br />
<br />

{% if count > 1 %}
<h3>Other Projects by {{project.owner}}</h3>

<ul>
  {% for proj in projects %}
  {% if proj.owner == project.owner %}
  <li><a href={{ proj.url }}>{{ proj.name }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
