{% extends "base.html" %}
{% block content %}
<h2>Projects</h2>

<div class="search_section">
  <h3>Search</h3>

  <form method="post">
    <input class="search" type="text" name="search_term">
    <input type="submit" value="Search">
    <input type="submit" name="All" value="Clear Search Results">
    &nbsp;&nbsp;&nbsp;&nbsp; Sort by:
    <input type="radio" name="sort_by" value="name" id="name">
    <label for="name">Name</label>
    <input type="radio" name="sort_by" value="created" id="created">
    <label for="name">Date Created</label>
    <input type="radio" name="sort_by" value="forks" id="forks">
    <label for="name">Forks</label>
    <input type="radio" name="sort_by" value="watchers" id="watchers">
    <label for="name">Watchers</label>
    <input type="radio" name="sort_by" value="issues" id="issues">
    <label for="name">Issues</label>
    <br>
    <input type="radio" name="reverse" value="reverse" id="reverse">
    <label for="name">Reverse results</label>
    &nbsp;&nbsp;&nbsp;&nbsp; Items per page:
    <input type="radio" name="per_page" value="10" id="10">
    <label for="name">10</label>
    <input type="radio" name="per_page" value="25" id="25">
    <label for="name">25</label>
    <input type="radio" name="per_page" value="50" id="50">
    <label for="name">50</label>
  </form>
</div>

{% if search_term != "" and search_term is not none %}
<h3>Search results for "{{ search_term }}":</h3>
{% endif %}

{% for project in search_results.items %}
<div class="project-card">
  <div class="container">
    <div class="project-text">
      <span class="project_title"><a  href={{ project.url }}><h3>{{ project.name }}</h3></a></span>
      {% if project.created_time is not none %}
      <span class="created_text"> Created {{project.created_time[0:10]}} &nbsp;&nbsp;</span>
      {% endif %}
      <div class="forks_watchers">
	{% if project.forks is not none %}
	{% if project.forks == 1 %}
	<a  href={{ project.url + "/network/members" }}>{{project.forks}} fork &nbsp;&nbsp;</a>
	{% elif project.forks != 0 %}
	<a  href={{ project.url + "/network/members" }}>{{project.forks}} forks &nbsp;&nbsp;</a>
	{% endif %}
	{% endif %}
	
	{% if project.watchers is not none %}
	{% if project.watchers == 1 %}
	<a  href={{ project.url + "/watchers" }}>{{project.watchers}} watcher &nbsp;&nbsp;</a>
	{% elif project.watchers != 0 %}
	<a  href={{ project.url + "/watchers" }}>{{project.watchers}} watchers &nbsp;&nbsp;</a>
	{% endif %}
	{% endif %}
	
	{% if project.open_issues is not none %}
	{% if project.open_issues == 1 %}
	<a  href={{ project.url + "/issues" }}>{{project.open_issues}} issue &nbsp;&nbsp;</a>
	{% elif project.open_issues != 0 %}
	<a  href={{ project.url + "/issues" }}>{{project.open_issues}} issues &nbsp;&nbsp;</a>
	{% endif %}
	{% endif %}
	
      </div>
      <div class="project_description">
	<p><a href={{ url_for('project', projectName=project.name) }}> {{ project.description }} </a></p>
      </div>
    </div>
    {% if project.owner is not none %}
    <b><a href={{"https://github.com/" + project.owner}}>{{ project.owner }}</a></b>
    {% endif %}
    {% if project.owner_avatar is not none %}
    <a href={{ url_for('organization', orgName=project.owner)}}><img src={{ project.owner_avatar }} width="30" class="proj-org-pic"></a>
    {% endif %}
    <b class="source">{{ project.source }}</b>
    {% if project.language is not none %}
    <b class="source">{{ project.language }}</b>
    {% endif %}
  </div>
</div>
{% endfor %}

<div class="pagination">
  <a href={{ url_for('projects', page=search_results.prev_num) }}>
    &laquo;
  </a>
  {% for page_num in search_results.iter_pages(left_edge=2, left_current=1, right_current=2, right_edge=2) %}
  {% if page_num %}
  {% if page != search_results.page %}
  <a href={{ url_for('projects', page=page_num) }}>{{ page_num }}</a>
  {% else %}
  <strong>{{ page_num }}</strong>
  {% endif %}
  {% else %}
  …
  {% endif %}
  {% endfor %}
  <a href={{ url_for('projects', page=search_results.next_num) }}>
    &raquo;
  </a>
</div>

{% endblock %}
