{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<span><a  href={{ project.url }}><h2>{{ project.name }}</h2></a></span>
{% if project.created_time is not none %}
<span> Created {{project.created_time[0:10]}} &nbsp;&nbsp;</span>
{% endif %}

<div class="forks_watchers">

  {% if current_user.is_authenticated %}
  <form method="POST">
  {% if (project.name,) not in favorites %}
  <button type="submit" name="fav_name" value="{{ project.name }}" class="fav">Favorite</button>
  {% else %}
  <button type="submit" name="unfav_name" value="{{ project.name }}" class="unfav">Favorited</button>
  {% endif %}
  </form>
  &nbsp;
  {% endif %}

  {% if project.forks is not none %}
  {% if project.forks == 1 %}
  <a  href={{ project.url + "/network/members" }}>{{project.forks}} fork &nbsp;&nbsp;</a>
  {% elif project.forks != 0 %}
  <a  href={{ project.url + "/network/members" }}>{{project.forks}} forks &nbsp;&nbsp;</a>
  {% endif %}
  {% endif %}

  {% if project.watchers is not none %}
  {% if project.watchers == 1 %}
  <a  href={{ project.url + "/watchers" }}>{{project.watchers}} watcher &nbsp;&nbsp;</a>
  {% elif project.watchers != 0 %}
  <a  href={{ project.url + "/watchers" }}>{{project.watchers}} watchers &nbsp;&nbsp;</a>
  {% endif %}
  {% endif %}

  {% if project.open_issues is not none %}
  {% if project.open_issues == 1 %}
  <a  href={{ project.url + "/issues" }}>{{project.open_issues}} issue &nbsp;&nbsp;</a>
  {% elif project.open_issues != 0 %}
  <a  href={{ project.url + "/issues" }}>{{project.open_issues}} issues &nbsp;&nbsp;</a>
  {% endif %}
  {% endif %}

  {% if favCount != 0 %}
  {{ favCount }} favorites
  {% endif %}
  
</div>
<div class="project_description">
<p> {{ project.description }}</p>
</div>

<b class="surce">{{ project.source }}</b>
{% if project.language is not none %}
<b class="surce">{{ project.language }}</b>
{% endif %}

<br />
<br />

{% if project.owner is not none %}
<b><a href={{"https://github.com/" + project.owner}}>{{ project.owner }}</a></b>
{% endif %}
{% if project.owner_avatar is not none %}
{% if project.owner_type == "User" %}
<a href={{ url_for('organization', orgName=project.owner)}}><img src={{ project.owner_avatar }} width="30" class="proj-user-pic"></a>
{% else %}
<a href={{ url_for('organization', orgName=project.owner)}}><img src={{ project.owner_avatar }} width="30" class="proj-org-pic"></a>
{% endif %}
{% endif %}

<br />
<br />

{% if count > 1 %}
<h3>Other Projects by {{project.owner}}</h3>

<ul>
  {% for proj in projects %}
  {% if proj.owner == project.owner and proj.name != project.name %}
  <li><a href={{ proj.url }} class="org_proj_item">{{ proj.name }}&nbsp;&nbsp;</a>
  {% if current_user.is_authenticated %}
  <form method="POST">
    {% if (proj.name,) not in favorites %}
    <button type="submit" name="fav_name" value={{ proj.name }} class="fav">Favorite</button>
    {% else %}
    <button type="submit" name="unfav_name" value={{ proj.name }} class="unfav">Favorited</button>
    {% endif %}
  </form>
  &nbsp;
  {% endif %}
  </li>
  
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
