{% extends "base.html" %}
{% block content %}

<h2>Submit your own Open Source Project</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

Currently, you may submit your project to The Open Source Platform if it is publicly hosted on github. Simply enter your github username and the name of the repo below.

<div class="search_section">
  <h3>Github Repo Name</h3>

  <form method="post">
    <input class="search" type="text" name="submit_term" placeholder="username/repoName">
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}
