{% extends "base.html" %}
{% block content %}
<h2>Projects</h2>
{% for project in projects %}
<div class="project-card">
  <div class="container">
    <div class="project-text">
      <a  href={{ project.url }}><h3>{{ project.name }}</h3></a>
      <h4> {{ project.description }}</h4>
    </div>
    {% if project.owner is not none %}
    <b>{{ project.owner }}</b>
    {% endif %}
    <b class="source">{{ project.source }}</b>
    {% if project.language is not none %}
    <b class="source">{{ project.language }}</b>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}
