body {
    background-color: #CAF0F8;
    font-family: 'Jost', sans-serif;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    margin: -.22em;
}

h3, h2 {
    margin-bottom: 3px;
    margin-top: 3px;
}

hr {
    background-color: black;
    margin-top: 1em;
}

div {
    overflow: hidden;
    margin-left: 8px;
}

.fa-custom {
    vertical-align: -33%
}

.card_break {
    clear:both;
}

.header {
    background-color: #CAF0F8;
    overflow: visible;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 4px;
    position: sticky;
    top: 0;
}

.header-bottom {
    position: sticky;
    top: 115px;
}

.page-body {
    overflow: visible;
    margin-left: 0px;
    position: relative;
    min-height: 100vh;
}

.non-footer {
    overflow: visible;
    margin-left: 0px;
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

a {
    color: #03045E;
    text-decoration: none;
}

input {
    background-color: #ADE8F4;
}

input.button {
    background-color: #ADE8F4;
    float: left;
}

button {
    background-color: #ADE8F4;
}

button.fav {
    float: left;
}

button.unfav {
    float: left;
    background-color: #03045E;
    color: #ADE8F4;
}

button.proj_fav {
    float: left;
}

button.proj_unfav {
    float: left;
    background-color: #03045E;
    color: #ADE8F4;
}

.org_proj_item {
    float: left;
}

.forks_watchers {
    clear: both;
}

.index-text {
    max-width: 1000px;
}

.project_description {
    clear: both;
    margin-top: -10px;
}

.project_title {
    float: left;
}

.created_text {
    float: right;
    margin-top: 3px;
}

.search_section {
    margin-left: 40px;
    margin-bottom: 10px;
}

.search {
    background-color: white;
}

.proj-org-pic {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.proj-user-pic {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 50%;
}

.user-pic {
    float: right;
    margin-right: 40px;
    border-radius: 50%;
}

.org-pic {
    float: right;
    margin-right: 40px;
}

.page-links {
    float: right;
}

.pagination {
    clear: both;
    text-align: center;
    margin-left: -3%;
}

.source {
    float: right;
    margin-right: 20px;
}

.project-card {
    background-color: #ADE8F4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    width: 620px;
    height: 15em;
    float: left;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.project-text {
    height: 12.5em;
}

.main-body {
    margin-left: 20px;
}

.osp-title {
    margin-left: 0.5em;
}

.invis {
    background-color: #CAF0F8;
}

.center {
    background-color: #03045E;
}

.outer {
    background-color: #023E8A;
}

.circle {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    margin: -.17em;
    margin-bottom: 0em;
    display:inline-block;
}
